node_modules
dist

# OS files
.DS_Store

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.local
